# VS Code
.vscode/
*.code-workspace

# VS
.vs/
## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Git
.git/

# Node
**/node_modules/

# Code coverage
.nyc_output
coverage/

# Environment
.env

# Source
**/src/

# Documentation 
**/docs/

# Tests
**/test/

# Development configs and utils
**/.*ignore
**/.*rc*
**/rollup.config.*
**/.*.yml
**/tsconfig.json
**/*.tgz

# Logs
**/*.log
