/* tables ------ */
table {
  border-collapse: collapse;
  border-spacing: 1px;
  height: auto;
  width: 100%;
}
table > caption {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 0.5em;
  text-align: left;
}
thead {
  background-color: gainsboro;
}
th {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 12px;
  padding-top: 12px;
}
th:not(th:last-child) {
  width: 108px;
}
td {
  padding-bottom: 12px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 12px;
  font-size: 15px;
  border-bottom: 1px solid #e6e6e6;
}
th:first-child,
td:first-child {
  padding-left: 1em;
}
td {
  background-color: #fdfdfd;
}
th:last-child,
td:last-child {
  padding-right: 1em;
}
td:last-child {
  background-color: white;
  width: 50%;
}
td > p:first-child {
  margin-top: 0;
}
td > p:last-child {
  margin-bottom: 0;
}
