@at-root :root {
  --color-primary        : #0066CD;
  --color-primary-light  : #8EC4FB;
  --color-primary-dark   : #c2c2c2;

  --color-primary-text   : #212121;
  --color-text           : #333;
  --color-secondary-text : #333;

  --color-secondary      : #ffb74d;
  --color-secondary-light: #ffe97d;
  --color-secondary-dark : #c88719;

  --color-borders        : #d9d9d9;

  --color-code-background: #f5f5f5;

  --color-sheet-primary: #fbfbfb;
  --color-sheet-secondary: #f7f7f7;
}
