@import "themes";

.document {
  font-size: .875em;
  line-height: 1.4em;
  width: 100%;

  &__breadcrumb {
    a {
      color: $colorText;
      text-decoration: underline;
    }

    > *:last-child {
      color: $colorPrimary;
    }
  }

  > .document__title {
    margin: 18px 0;

    > h1 {
      font-size: 3em;
      line-height: 1.4em;
      margin: 0;
    }

    &_deprecated {
      > h1 {
        display: inline-block;
      }

      > h1:first-child {
        color: #666;
        text-decoration: line-through;
      }
    }
  }

  > .document__brief, > .document__description {
    margin-left: 8px;
  }

  > * {
    margin: 10px 0;
  }
}
