@import "themes";
@import "vars";

.explorer {
  background-color: $colorSheetSecondary;
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  margin: 0;
  max-height: 100%;
  min-width: 291px;

  .MuiTreeView-root {
    padding: 0 8px;
    overflow: auto;
  }

  &__tree > *:first-child {
    margin-top: 8px;
  }
}

/* This appears outside of .explorer when its closed. */
.explorer__header {
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: $header-height;
  height: $header-height;

  &__title {
    font-size: 28px;
    font-weight: 700;
    margin-left: 30px;
    line-height: 33px;
  }

  &-opened {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.16);
  }

  &-closed {
    background-color: transparent;
  }
}
