@import "scss-utils/all";

@import "vars";


html,
body {
  @include normalize();
}

// Sticky footer hack
.docs {
  @include flex($flex-direction: column);

  color: $colorPrimaryText;
  background-color: $colorPrimary;

  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $textSizeMain;

  min-height: 100vh;

  .page {
    $page: &;
    @include flex();

    width: 100%;
    max-width: 1200px;
    @include center-margin();

    margin-top: $header-height;
    flex-grow: 2;

    &-explorer, &-members-explorer {
      @at-root {
        &,
        #{$page} .page-content {
          flex-grow: 1;
          padding: 8px;
        }
      }

      max-width: 250px;
      min-width: 200px;
    }

    &-content {
      @include flex();
    }
  }
}

a {
  text-decoration: none;
}
