@import "scss-utils/all";

@import "vars";


html,
body {
  @include normalize();
}

@include link(#3f51b5, #102ac0);
a {
  &:hover {
    text-decoration: underline;
  }
}

// Sticky footer hack
.docs {
  @include flex($flex-direction: column);

  color: $colorPrimaryText;
  background-color: $colorPrimary;

  font-family: Roboto, Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $textSizeMain;

  min-height: 100vh;

  .page {
    $page: &;
    @include flex();

    width: 100%;
    max-width: 1200px;
    @include center-margin();

    margin-top: $header-height;
    flex-grow: 2;

    &-explorer, &-members-explorer {
      @at-root {
        &,
        #{$page} .page-content {
          padding: 8px;
        }
      }

      min-width: 200px;
    }

    &-content {
      width: 0;
      flex-grow: 2;
    }
  }
}
