@import "./scss-utils/all";

@import "global";
@import "md";
@import "tables";

@import "header";
@import "document";
@import "explorer";
@import "members";
@import "members-explorer";
@import "snippets";
@import "footer";

// @import "pages/api-index";

.search-container > * {
  grid-row: 1;
  grid-column: 1;
}

#search:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}
