@import "./scss-utils/all";


.page-members-explorer {
  &-category {
    &__title {
      color: black;
      font-weight: 500;
    }

    &__items {
      @include normalize(true);
    }

  }

  &__item {
    font-weight: 400;
    line-height: 1.5;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}
