@import "./scss-utils/all";

.members-explorer {
  @include flex();

  font-size: 14px;
  height: 100%;
  overflow-y: scroll;
  padding: 16px;
  padding-left: 8px;
  padding-top: 80px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 240px;

  &__container {
    flex-grow: 1;
    margin-top: 8px;
  }

  &__separator {
    margin-left: 8px;
    margin-right: 8px;
  }

  &__category-title {
    color: #37474f;
    font-weight: 500;
  }

  &__category-list {
    list-style: none;
  }

  a {
    color: #37474f;
    text-decoration: none;

    &:hover {
      color: #3f51b5;
    }
  }
}
