@import "./scss-utils/all";

@import "vars";


pre {
  @include normalize();

  width: 100%;

  align-items: center;
  display: flex;
  border-color: 1px solid $colorBorders;
  padding: 4px 6px;
  overflow-x: auto;
}

pre, code {
  font-family: "IBM Plex Mono", "Consolas", "Roboto Mono", monospace;
  font-size: $textSizeCode;

  background-color: $colorSheetSecondary !important;
  border-radius: 8px;

  vertical-align: baseline;
  word-break: keep-all;
}

.hljs { /* Override markdown highlight-js */
  background-color: $colorSheetSecondary !important;
}

.signature {
  border-radius: 3px;
  padding: 6px;
  padding-left: 24px;

  &__container {
    min-height: 42px;/* 48px minus 6px padding */
    overflow-x: scroll;
    overflow-y: visible;
  }
}
