@import "vars";


table {
  border: 1px solid $colorBorders;
  border-collapse: collapse;
  margin: 8px 0;

  caption {
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
  }

  th {
    border-bottom: 1px solid $colorBorders;
    font-weight: 500;

    @at-root &, td {
      padding: 8px;
      font-size: 92%;
      text-align: left;
    }
  }

  td {
    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
