@import "vars";


table {
  border: 1px solid $colorBorders;
  border-collapse: collapse;
  margin: 8px 0;

  caption {
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
  }

  th {
    border-bottom: 1px solid $colorBorders;
    font-weight: 500;
    word-break: normal;

    @at-root &, td {
      padding: 8px;
      font-size: 92%;
      text-align: left;
    }
  }

  td {
    word-break: normal;

    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.table-wrapper {
  display: block;
  overflow-x: scroll;
}

table.summary {
  margin-left: 40px;
  padding: 18px auto;
  table-layout: fixed;
  width: calc(100% - 40px);

  tbody {
    margin: 18px auto;
  }

  td {
    vertical-align: top;

    section:last-child {
      color: #333;
      margin-top: 18px;
    }
  }

  td:first-child {
    width: 36%;
  }

  td:last-child {
    width: 64%;
  }

  .summary__signature {
    font-family: IBM Plex Mono, monospace;
    font-weight: bold;

    a {
      text-decoration: underline;
    }
  }
}
