@import "themes";

.tutorial {
  &--navigation {
    color: $colorSecondaryText;
    display: flex;
    margin-top: 24px;
    padding-bottom: 16px;

    > a {
      cursor: pointer;
      color: $colorSecondaryText;

      &:hover {
        text-decoration: none;
      }
    }

    &-previous {
      display: flex;
      transition: 300ms color;

      > section:last-child {
        display: flex;
        flex-direction: column;

        > *:first-child {
          margin-bottom: 6px;
        }
      }

      svg {
        margin-right: 14px;
      }

      &:hover {
        color: $colorPrimaryText;
      }
    }

    &-next {
      display: block;
      transition: 300ms color;

      > section:first-child {
        display: flex;
        margin-bottom: 6px;
      }

      svg {
        margin-left: 14px;
      }

      &:hover {
        color: $colorPrimaryText;
      }
    }

    > hr {
      border: 1px solid $colorSecondaryText;
      height: 41px;
      margin: 0 28px;
    }

    &-arrow {
      stroke: currentColor;
      stroke-width: 2px;
      width: 27px;
      height: 14px;
    }
  }
}