@import "light";

$colorPrimary       : var(--color-primary);
$colorPrimaryLight  : var(--color-primary-light);
$colorPrimaryDark   : var(--color-primary-dark);

$colorPrimaryText   : var(--color-primary-text);

$colorSecondary     : var(--color-secondary);
$colorSecondaryLight: var(--color-secondary-light);
$colorSecondaryDark : var(--color-secondary-dark);

$colorBorders       : var(--color-borders);

$colorCodeBackground: var(--color-code-background);

$colorSheetPrimary: var(--color-sheet-primary);
$colorSheetSecondary: var(--color-sheet-secondary);
