@at-root :root {
  --color-primary        : #ffffff;
  --color-primary-light  : #ffffff;
  --color-primary-dark   : #c2c2c2;

  --color-primary-text   : #212121;

  --color-secondary      : #ffb74d;
  --color-secondary-light: #ffe97d;
  --color-secondary-dark : #c88719;

  --color-borders        : #d9d9d9;

  --color-code-background: #f5f5f5;
}
